# Nba Regular Season 2018-19 Data Challenge

Your task will be to take the dataset given, and create an analysis answering the following 10 questions. This project will again test your knowledge of pandas in order to find the answers needed given the data you are presented with.

# What was the average age of player in the league?

In [13]:
import pandas as pd
import numpy as np
nba_data = pd.read_csv('./nbastats2018-2019.csv')
nba_data['Age'].mean().round(decimals = 2)

25.9

# What player scored the most points?

In [24]:
nba_data['Total Points'] = nba_data['Points'] * nba_data['G']
total_points = nba_data[['Name','Total Points']]
total_points.sort_values('Total Points', ascending= False).reset_index(drop = True)

           Name  Total Points
0  James Harden        2815.8

# What player had the most blocks during the season? Was it a post player (F/C)?

In [27]:
nba_data['Total Blocks'] = nba_data['Blocks'] * nba_data['G']
total_blocks = nba_data[['Name','Total Blocks','Blocks','G']]
total_blocks.sort_values('Total Blocks', ascending= False).reset_index(drop = True).head(1)
# I couldn't find any info in the CSV on player position, but google says Myles Turner is a Power Forward so yes.

           Name  Total Blocks  Blocks   G
0  Myles Turner         199.8     2.7  74

# Based on the regular season, who had the best chance to win a title given their win percentage?

In [34]:
team_ws = nba_data[['Team','WS','WS48']].groupby('Team').sum()
team_ws.sort_values('WS', ascending= False).head(1)

                   WS   WS48
Team
Milwaukee Bucks  63.0  1.931

# What player had the best 3-pt percentage?

In [41]:
best_3pp = nba_data[['Name','FG3%','FG3A']].sort_values('FG3%', ascending= False).reset_index(drop = True)
best_3pp

                 Name   FG3%  FG3A
0       Scott Machado  1.000   0.3
1       Jordan Sibert  1.000   1.0
2        Trevon Duval  1.000   0.3
3       Eric Moreland  1.000   0.2
4        Troy Caupain  0.667   0.8
..                ...    ...   ...
516  Tristan Thompson    NaN   0.0
517         Ekpe Udoh    NaN   0.0
518   Robert Williams    NaN   0.0
519        Ante Zizic    NaN   0.0
520       Ivica Zubac    NaN   0.0

[521 rows x 3 columns]

# Who played the most minutes during the season

In [42]:
nba_data['Total Minutes'] = nba_data['MP'] * nba_data['G']
total_minutes = nba_data[['Name','Total Minutes', 'MP', 'G']]
total_minutes.sort_values('Total Minutes', ascending= False).reset_index(drop = True)

               Name  Total Minutes    MP   G
0      Bradley Beal         3025.8  36.9  82
1      James Harden         2870.4  36.8  78
2      Kemba Walker         2861.8  34.9  82
3     Tobias Harris         2845.4  34.7  82
4       Paul George         2841.3  36.9  77
..              ...            ...   ...  ..
516  Terrence Jones            5.0   2.5   2
517   Jordan Sibert            4.0   4.0   1
518  Donte Grantham            2.1   0.7   3
519    Kobi Simmons            2.0   2.0   1
520         Zhou Qi            1.0   1.0   1

[521 rows x 4 columns]

# What player given their player effiecency rating was the clutchest during the season?

In [44]:
er = nba_data[['Name','PER']]
er.sort_values('PER', ascending= False).reset_index(drop = True).head(1)

      Name   PER
0  Zhou Qi  80.4

# What team had the youngest roster?

In [55]:
team_age = nba_data[['Team','Age']].groupby('Team').mean().sort_values('Age', ascending=True)
team_age.head(10)

                              Age
Team
Chicago Bulls           24.312500
Sacramento Kings        24.400000
Orlando Magic           24.533333
New York Knicks         24.625000
Phoenix Suns            24.761905
Portland Trail Blazers  24.857143
Indiana Pacers          25.058824
Denver Nuggets          25.266667
Brooklyn Nets           25.555556
Boston Celtics          25.600000

# Who is the highest paid player during the seasion?

In [85]:

nba_salary = nba_data[nba_data['Salary'] != '-']
nba_salary['Salary'] = pd.to_numeric(nba_salary['Salary'])
salary = nba_salary[['Name','Salary']].sort_values('Salary', ascending = False) 
salary.head(1)

/var/folders/sq/fbzntcp17ylf3s31hlkh2w1h0000gp/T/ipykernel_98101/3385369140.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nba_salary['Salary'] = pd.to_numeric(nba_salary['Salary'])

              Name    Salary
121  Stephen Curry  37457154

# At the end of a game, who WOULDN'T you want on the Free Throw Line?

In [84]:


free_throws = nba_data[nba_data['FTA'] > 0]
free_throws = free_throws[['Name','FT%','FTA']].sort_values('FT%').reset_index(drop=True)
free_throws.head(5)

                 Name  FT%  FTA
0      Terrence Jones  0.0  0.5
1  Donatas Motiejunas  0.0  0.7
2      Tahjere McCall  0.0  1.0
3       C.J. Williams  0.0  0.1
4         Dzanan Musa  0.0  0.2